{% extends 'base.html' %}
{% load static %}


{% block content %}

User:{{user}}<br>
UserProfile:{{user.profile}}<br>

<p>팔로워<br>{{ user.profile.followers.count }}명</p>
<p>팔로잉<br>{{ user.profile.followings.count }}명</p>

{% if request.user != user %}
    {% if request.user.profile in user.profile.followers.all %}
        <a href="{% url 'users:follow' user.id %}">
        <button type="button" class="btn-outline-info">언팔로우</button>
        </a>
    {% else %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-info">팔로우</button>
            </a>
            {% endif %}
    {% endif %}

<h1>My page</h1>
<h2>내가 쓴 글만 가져오기</h2>
{% if my_blogs %}
  <ul>
    {% for blog in my_blogs %}
    <h3>{{blog.title}}</h3> 
    {{blog.stitle}} | {{blog.writer}} | {{blog.pub_date}}<br> 
    {{blog.summary}}
        <a href="{% url 'main:detail' blog.id %}">자세히 보기</a>
    {% endfor %}
  </ul>
{% else %}
  <p>No blogs found.</p>
{% endif %}

<!-- 추가: 팔로워 리스트 -->
<h2>팔로워 리스트</h2>
<ul>
  {% for follower_user in user.profile.followers.all %}
    <li><a href="{% url 'users:mypage' follower_user.user.id %}">{{ follower_user.user.username }}</a></li>
  {% empty %}
    <li>No followers yet.</li>
  {% endfor %}
</ul>

<!-- 추가: 팔로잉 리스트 -->
<h2>팔로잉 리스트</h2>
<ul>
  {% for following_user in user.profile.followings.all %}
    <li><a href="{% url 'users:mypage' following_user.user.id %}">{{ following_user.user.username }}</a></li>
  {% empty %}
    <li>Not following anyone.</li>
  {% endfor %}
</ul>


{% endblock %}