{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div>
    <img src="{% static 'images/logos.png' %}" alt="logos" width="100px">
    <h1 class="contents">2024 멋쟁이사자처럼 12기 과제</h1>
    <div class="contents">Welcome Django!</div>
    <div>Django 내용 정리</div>
      <ul>
        장고는 project와 app으로 나눠져있음(이 차이를 알아야함!!)
        Django MTV 패턴에는 Model, Template, view가 있음
        고객님이 URL을 request하면 url, view를 매핑하고
        요청에 따른 적절한 로직을 수행함
        model은 데이터베이스로, template는 보여지는 부분을 담당하여
        고객님께 반응함
        
        <li>오늘의 날씨 : 좋음</li>
        <li>오늘의 기분 : 피곤함</li>
        <li>아기사자 12기 화이팅!</li>
      </ul>
    </div>
    <div>🤓오늘의 멋쟁이</div>
      <ul>
        <li>성현</li>
      </ul>
    
{% endblock %}
